body {
  background-image: url("images/weather.JPG");
  font-family: "Montserrat", sans-serif;
}
form {
  margin: 65px 50px 20px;
}
input {
  padding: 5px;
  margin: 5px;
  border: none;
  background: #fff;
}
input:hover {
  background: #abcbf1;
  transition: ease-in-out 120ms;
}
h1 {
  text-align: center;
  padding: 10px;
  font-family: "Comfortaa", cursive;
}
#city {
  text-transform: capitalize;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.celsius:hover,
.fahrenheit:hover {
  border: 2px solid #abcbf1;
  transition: ease-in-out 120ms;
}
.active {
  border: 2px solid #abcbf1;
}
.active:hover {
  cursor: default;
  background-color: #fff;
}
button {
  border: none;
  background: #fff;
  text-align: center;
  width: 50px;
}
button:hover {
  background: #abcbf1;
  transition: ease-in-out 120ms;
}
.application {
  background: #dae3ec;
  border: solid 3px #fff;
  margin: 20px 37px;
  padding: 0px 20px 10px;
}
.today,
.coming-days,
.sunrise,
.sunset {
  background: #fff;
  padding: 10px;
  margin: 10px;
  text-align: center;
  line-height: 2;
}
.today {
  font-weight: bold;
}
.temperature-today,
.time,
.details {
  font-weight: normal;
  font-size: 24px;
}
#description {
  text-transform: capitalize;
}
img {
  height: 75px;
}
.emoji {
  font-size: 35px;
}
#sunriseTime,
#sunsetTime {
  font-size: 24px;
}
.coder {
  font-family: "PT Mono", monospace;
  text-align: right;
}
